*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    width: 70%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(96, 136, 170);
    color: white;
    text-align: center;
    padding: 20px;
    
    

}
